.App {
  text-align: center;
}

.loader {
  display: block;
  margin: 1em auto 1.25em;
  font-size: 36px;
  text-align: center;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #61dafb;
}

ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.mediaFiles {
  color: #333;
  padding: 1em 1em 1.5em;
  margin-bottom: 2em;
  background-color: #fff;
  box-shadow: 0 2px 25px rgba(0,0,0,.5);
  border-radius: 4px;
}

.mediaFile {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: .75em;
}

.mediaFile * {
  margin-bottom: 0;
  margin-top: 0;
}


button, .button {
  padding: .75em 1em 1em;
  background-color: #f1dc41;
  border: 1px solid #fff;
  color: #333;
  box-shadow: 0 2px 15px rgba(0,0,0,.5);
  font-size: 18px;
}

.deleteButton {
  border-radius: 50%;
  padding-top: .9em;
  padding-bottom: .8em;
}

.deleteButton.deleteButton i {
  color: #333;
}

button:not(:first-child), .button:not(:first-child) {
  margin-left: .75em;
}

@media only screen and (max-width: 768px) {
  .mediaFile {
    justify-content: center;
  }

  .mediaFile > * {
    margin-bottom: .5rem;
  }

  .mediaFile__fileName {
    min-width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .mediaFile__fileName.mediaFile__fileName {
    margin-right: 0;
  }

  .mediaFile > *:not(:first-child) {
    margin-left: .5em;
  }
}

@media only screen and (min-width: 769px) {
  .mediaFile__audioController {
    margin-left: auto;
  }

  .mediaFile > *:not(:last-child) {
    margin-right: .5em;
  }
}